*.suo
*.buildinfo
*.a
*.d
src/Tiny84_SortWheel/Release/Tiny84_SortWheel.cpp.o
*.elf
*.hex
src/Tiny84_StepFeeder/Release/Tiny84_StepFeeder.cpp.o
*.o
src/RS_Mainboard/Release/RS_Mainboard.cpp.o
src/RPi/ResistorSortUI/debug
*.o